<div id="myCarousel" class="carousel slide">
	   <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
  <div class="carousel-inner">
    <div class="item active">
	    <%= image_tag '1.jpg' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Find Your Destination</h1>
        </div>
      </div>
    </div>
    <div class="item">
	    <%= image_tag '2.jpg' %>
    </div>
    <div class="item">
	    <%= image_tag '1.jpg' %>
    </div>
    <div class="item">
	    <%= image_tag '2.jpg' %>
    </div>
  </div>
</div><!-- /.carousel -->
